<!DOCTYPE html>
<html ng-app="picosoApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <div id="heading">
      <h2 class="text-center">picoso!</h1>
    </div>
    <div class="container" id="flavors" ng-controller="FlavorController as flavorGroup">
      <button class="btn" ng-click="flavorGroup.pickFlavor('sweet')">sweet</button>
    <p ng-repeat="flavor in flavorGroup.flavors">{{flavor}}</p>
    </div>
    <div class="container-fluid">
      <table class="table" id="chiles" ng-controller="ChileController">
        <tr>
          <th class="text-center">Chile</th>
          <th class="text-center">Flavor</th>
          <th class="text-center">Heat</th>
        </tr>
        <tr ng-repeat="chile in chiles" class="text-center">
          <td>{{chile.name}}</td>
          <td>{{chile.flavor}}</td>
          <td>{{chile.heat}}</td>
        </tr>
      </table>
    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
