<!DOCTYPE html>
<html ng-app="picosoApp">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body ng-controller="ChileController">
    <div id="heading">
      <h2 class="text-center">picoso!</h1>
    </div>
    <div class="container" id="flavors">
      <div class="text-center">
        <div class="btn-group" role="group" ng-repeat="flavor in flavors">
          <input class="btn" type="button" value={{flavor}} ng-click="toggle(flavor)">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <table class="table" id="chiles">
        <tr>
          <th class="text-center">Chile</th>
          <th class="text-center">Flavor</th>
          <th class="text-center">Heat</th>
        </tr>
        <tr ng-repeat="chile in chiles | chileFilter:flavorChoice" class="text-center">
          <td>{{chile.name}}</td>
          <td>{{chile.flavor}}</td>
          <td>{{chile.heat}}</td>
        </tr>
      </table>

    </div>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
